<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html>
 
<head>
 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
	<title>Water Transparency (Secchi Depth in meters)</title>
 
    <!--PRIMARY-->
    <meta name="dc.title" content="" />
    <meta property="og:title" content="" />
    <meta name="dc.description" content="" />
    <meta name="description" content="" />
    <meta name="dcterms.audience" content="" />
    <meta name="dc.identifier" scheme="URI" content="" />
    <meta name="dc.date.created" scheme="W3CDTF" content="" />
    <meta name="dc.date.issued" scheme="W3CDTF" content="" />
    <meta name="dc.date.modified" scheme="W3CDTF" content="" />
    <!--PRIMARY-->
    
    <!--CONTROLLED-->
    <meta name="dc.subject" scheme="gccore" content="" />
    <meta name="Keywords" content="" />
    <meta name="dc.type" scheme="oncatype" content="" />
    <!--CONTROLLED-->
    
    <!--FACEBOOK-->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <!--FACEBOOK-->	
	
	<!--SECONDARY-->
    <meta name="dc.format" scheme="IMT" content="text/html" />
    <meta name="dc.creator" content="Government of Ontario, Ministry of the Environment" />
    <meta name="dc.publisher" content="Government of Ontario, Ministry of the Environment" />
    <meta name="dc.contributor" content="Government of Ontario, Ministry of the Environment" />
    <meta name="dc.language" scheme="ISO639-2" content="Eng" />
    <meta name="dc.coverage.jurisdiction" content="Province of Ontario" />
    <meta name="dc.coverage.spatial" content="Ontario, Canada" />
    <meta name="dc.rights.intellectualProperty" content="Copyright: Queen's Printer for Ontario, 2010" />
    <meta name="go.contact.content" content="" />
    <meta name="go.contact.technical" content="" />
    <!--SECONDARY-->
 
	<link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/new.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/master.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/changeme.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/mobile.css" type="text/css" media="handheld" />
 
	<link rel="icon" type="image/png" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/trillium4.ico" />
	
	<script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministryscripts/scripts/scripts.js"></script>
 
	<style type="text/css">
      .js #smenu3 {display:none;}
      .js #smenu4 {display:none;}
      .js #smenu5 {display:none;}
      .js #smenu6 {display:none;}
      .js #smenu7 {display:none;}
    </style>
    
    <script type="text/javascript">
      document.getElementsByTagName('html')[0].className = 'js';
    </script>
	<!--MOE Geomatics Center -->
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="http://www.ontario.ca/sites/default/files/moe_mapping/mapping/js/MOEMap/2.0/arcgislink.js"></script> 
	<script type="text/javascript" src="http://www.ontario.ca/sites/default/files/moe_mapping/mapping/js/MOEMap/js/underscore-min.js"></script>
	<style type="text/css">
		.lakepartner { width:700px; margin-right:-3px; border-spacing:1px; border-collapse:separate !important; border:1px #000000 solid; }	
		.lakepartner th { padding:2px; font-size:11px; border:1px #000000 solid; vertical-align:middle; text-align:center; }	  
		.lakepartner td { padding:2px; font-size:11px; border:1px #000000 solid; text-align:center; }
		.lakepartner caption {font-size:1.2em;}
	</style>
	
	<style type="text/css">table.lakepartner { border-collapse: collapse; border-color: #000; }
		table.lakepartner th { background-color: #666; color: #FFF; padding: 3px; }
		table.lakepartner td { padding: 3px; }
	</style>
	<script type="text/javascript">
		var language = "EN";
	</script>	
	<script type="text/html" id='SecchiDepthTableTemplate'>
		<table class='lakepartner' border='1'>
			<caption><%= (language === "EN") ? "Water Transparency (Secchi Depth in meters)" : "Transparence de l'eau (profondeur en mètres d’après le disque Secchi)" %> </caption>
			<tbody>
				<tr><th scope='col'><%= (language === "EN") ? "Year" : "Année" %></th><th scope='col'><%=  (language === "EN") ? "Secchi Depth (m)" : "Mesure du disque Secchi (m)" %></th></tr>
				
				<%
					_.each(dataArray,function(entry,key,list){
				%>
					<tr><td><%= entry.year %></td><td><%= entry.value %></td></tr>
				<%
					});
				%>
			</tbody>
		</table>
	</script>
	
	<script type="text/html" id='TitleTemplate'>
		<h1><%= stationAttr.LAKENAME %> (STN <%= stationAttr.STN %>, Site ID <%= stationAttr.SITEID %>)</h1>
		<strong><%= stationAttr.SITEDESC %></strong>
	</script>	
	<!--MOE Geomatics Center -->
	<meta content="MSHTML 6.00.2900.3698" name="GENERATOR" />
 
</head>
 
<body id="home">
 
<div id="wrapper">
 
  <div id="header"> 
  
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_header.js"></script>
  
</div>
 
  <a name="top" id="top"></a>
  
  <div id="right_column">
 
    <div class="row">
      
    </div>
 
	<a name="content" id="content"></a>
    
    <!-- ENTER YOUR CONTENT HERE - BEGIN -->
	<div id="station_description"></div>
	<p>The Lake Partner Program is a province-wide, volunteer-based, water-quality monitoring program. Volunteers collect total phosphorus samples and make monthly water clarity observations on their lakes. This information will allow the early detection of changes in the nutrient status and/or the water clarity of the lake due to the impacts of shoreline development, climate change and other stresses.</p><p>Approximately 800 active volunteers monitor total phosphorus at 728 locations in the lakes across Ontario.</p>
	<p>Increases in phosphorus can decrease water clarity by stimulating algal growth. However, the amount of phosphorus in the lake is not the only factor controlling light penetration, as the amount of dissolved organic carbon (DOC) or non-biological turbidity also plays an important role. Water clarity can also be altered by invading species such as zebra mussels. It is always best, therefore, to use total phosphorus to evaluate the nutrient status of the lake. Nonetheless, water clarity readings are useful for tracking changes in the lake that might be occurring that would not be noticed by monitoring TP concentration alone, e.g. zebra mussel invasions.</p>
	<p><a href="JavaScript:window.print();">Print this page</a></p>
	<center><h3>Water Transparency (Secchi Depth in meters)</h3></center>
	<center><div id="chart_div"></div><br>
		<br>
	<div id="data_table"></div>
	</center>
		<br><br>If you have some suggestions or find some errors, please send an Email to <a href='mailto:lakepartner@ontario.ca?subject=Portal Error Submission'>lakepartner@ontario.ca</a>.
    <!-- ENTER YOUR CONTENT HERE - END -->    
 
  </div>
 
  <div id="left_column">
 
 	<div class="leftnav">
      <div class="photocap nav_top mycolour">&nbsp;</div>
      <div class="mycolour"><h2 class="header"><a style="display:block;" href="javascript:void(0)" onclick="showHide('smenu1');return false;">Lake Partner Program <img src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/arrow_down.gif" width="9" height="9" alt="" title="Open the explore menu" id="smenu1_arrow" /></a></h2></div>
      <ul class="menu clear" id="smenu1" style="display:block;">
       <li><a href="http://www.ene.gov.on.ca/environment/en/local/lake_partner_program/index.htm">Return to Lake Partner Program</a></li>
       <li><a href="../LakePartner_Accessible_en.htm">Accessibile Version</a></li>
      </ul>  
    </div>
    
    <div id="second_nav"></div>
	
	<script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_secondary.js"></script>
  
  </div>
 
  <div id="footer">
    
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_footer.js"></script>
 
  </div>
 
</div>
	<!--MOE Geomatics Center -->
	<script type="text/javascript" src="../SecchiDepth.js"></script> 	
	<!--MOE Geomatics Center -->	
</body>
 
</html>

