p {font: 12px Verdana;}

table {
border:2px solid #000;
font: 12px Verdana;
border-spacing: 0;
border-collapse: collapse;;
}

td, th {
	padding:4px;
	text-align: left;
	border:1px solid #aaa;
	border-spacing: 0;
	border-collapse: collapse;
}

table .row1 {background-color: #ddd}
table .row2 {background-color: #eee}

caption {font-size: 1.5em;text-align: left;}
