<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Well Record Report</title>

    <!--PRIMARY-->
    <meta name="dc.title" content="" />
    <meta property="og:title" content="" />
    <meta name="dc.description" content="" />
    <meta name="description" content="" />
    <meta name="dcterms.audience" content="" />
    <meta name="dc.identifier" scheme="URI" content="" />
    <meta name="dc.date.created" scheme="W3CDTF" content="" />
    <meta name="dc.date.issued" scheme="W3CDTF" content="" />
    <meta name="dc.date.modified" scheme="W3CDTF" content="" />
    <!--PRIMARY-->
    
    <!--CONTROLLED-->
    <meta name="dc.subject" scheme="gccore" content="" />
    <meta name="Keywords" content="" />
    <meta name="dc.type" scheme="oncatype" content="" />
    <!--CONTROLLED-->
    
    <!--FACEBOOK-->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <!--FACEBOOK-->	
	
	<!--SECONDARY-->
    <meta name="dc.format" scheme="IMT" content="text/html" />
    <meta name="dc.creator" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.publisher" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.contributor" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.language" scheme="ISO639-2" content="fre" />
    <meta name="dc.coverage.jurisdiction" content="Province d'Ontario" />
    <meta name="dc.coverage.spatial" content="Ontario, Canada" />
    <meta name="dc.rights.intellectualProperty" content="Renseignements sur les droits d'auteur Imprimeur de la Reine pour l'Ontario, 2009 - 2010" />
    <meta name="go.contact.content" content="nmu.moe@ontario.ca" />
    <meta name="go.contact.technical" content="webmaster.moe@ontario.ca" />
    <!--SECONDARY-->

	<link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/new.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/master.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/changeme.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/mobile.css" type="text/css" media="handheld" />
    
    <link rel="icon" type="image/png" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/trillium4.ico" />
    
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministryscripts/scripts/scripts.js"></script>

	<style type="text/css">
      .js #smenu3 {display:none;}
      .js #smenu4 {display:none;}
      .js #smenu5 {display:none;}
      .js #smenu6 {display:none;}
      .js #smenu7 {display:none;}
    </style>
    
    <script type="text/javascript">
      document.getElementsByTagName('html')[0].className = 'js';
    </script>
	<!--MOE Geomatics Center -->
	<style type="text/css">      
		.fishImage { margin:5px 20px 10px 5px;float:right;border:1px #000000 solid; }
		.fishTable { width:700px; margin-right:-3px; border-spacing:1px; border-collapse:separate !important; border:1px #000000 solid; }
		.fishTable th { padding:2px; font-size:11px; border:1px #000000 solid; vertical-align:middle; text-align:left; }
		.fishTable th.measure { padding:2px; font-size:11px; border:1px #000000 solid; vertical-align:middle; text-align:right; }
		.fishTable td { padding:2px; font-size:11px; border:1px #000000 solid; text-align:center; }
		.fishTable th sup { vertical-align:super; }
		.shaded { background-color:#CCCCCC; }  
    </style>	
	<script type="text/javascript" src="http://www.ontario.ca/sites/default/files/moe_mapping/mapping/js/MOEMap/2.0/arcgislink_report.js"></script>
	<script type="text/javascript" src="http://www.ontario.ca/sites/default/files/moe_mapping/mapping/js/MOEMap/js/underscore-min.js"></script>
	<script type="text/javascript">
		var language = "FR";
	</script>
	<script type="text/html" id='ClusterTemplate'>
		<div class="row"><h1><%= chooseLang("Well ID Number", "Identification du puits") %>:&nbsp;<%= renderResult[0].WELL_ID %></h1></div>
		<a name="content" id="content"></a>
		<H1>Well Cluster Records</H1>
			<% 
				if (language === "EN") {
			%>
				The wells listed below are included on the cluster well record. They are listed by Well_ID number and UTM coordinate (Zone, Easting, Northing).<P>
				To see the locations of <B>all</B> the associated wells, use the Well_ID number for your search on the main portal map page.<BR>To see any <B>individual record</B>, click in the ID listed below.<BR>
				To find the <B>individual location</B> of any of the records listed below, use the UTM coordinate for your search on the main portal map.<P>
			<% } else {%>
				Les puits &#233;num&#233;r&#233;s ci-apr&#232;s sont compris dans le dossier du groupe de puits. Ils sont &#233;num&#233;r&#233;s par num&#233;ro d'identification du puits et coordonn&#233;es UTM (zone, abscisse, ordonn&#233;e).<P>
				Pour savoir les emplacements de <B>tous</B> les puits associ&#233;s, utilisez le num&#233;ro d'identification du puits pour votre recherche sur la page de la carte principale du portail.<BR>
				Pour visionner un <B>dossier individuel</B>, cliquez sur le num&#233;ro d'identification indiqu&#233; ci-dessous.<BR>
				Pour trouver <B>l'emplacement individuel</B> d'un des dossiers indiqu&#233;s ci-apr&#232;s, utilisez les coordonn&#233;es UTM dans votre recherche sur la carte principale du portail.<P>				
			<% }%>
		<TABLE class="fishTable">
			<TR><TH><CENTER><%= chooseLang("Well ID", "Identification du puits") %></CENTER></TH><TH><CENTER>Zone</CENTER></TH><TH><CENTER><%= chooseLang("Easting", "Abscisse") %></CENTER></TH><TH><CENTER><%= chooseLang("Northing", "Abscisse") %></CENTER></TH></TR>
			<%
				_.each(renderResult,function(result,key,list){
			%>		
				<TR><TD><A HREF="Well_Report.html?id=<%= result.BORE_HOLE_ID %>&preWellID=<%= result.WELL_ID %>"><%= result.WELL_ID %></A></TD><TD><%= result.UTMZONE %></TD><TD><%= result.EAST83 %></TD><TD><%= result.NORTH83 %>  <%= (result.BHK === "MASTER") ? ("&nbsp;&nbsp;" + chooseLang("Master Well", "Master Well")) : "" %></TD></TR>
			<%
				});
			%>
		</TABLE>	
	</script>
	<script type="text/html" id='Template'>
		<div class="row">
			<h1><%= chooseLang("Well ID Number", "Identification du puits") %>:&nbsp; <%= renderResult.WELL_ID %></h1>
		</div>
		<a name="content" id="content"></a>
		<%= chooseLang("Well Audit Number", "N<SUP>o</SUP> de vérification") %>:&nbsp;<I><%= renderResult.AUDIT_NO %></I><BR>
		<%= chooseLang("Well Tag Number", "N<SUP>o</SUP> plaque") %>:&nbsp;<I><%= renderResult.TAG %></I><P>
		<CENTER>
			<% 
				if (language === "EN") {
			%>
				<I>This table contains information from the original well record and any subsequent updates.</I><BR>
				<% 
					if (!renderResult.search_WELL_ID) {
				%>
					<BR>This well is part of a well cluster. <BR><SPAN STYLE='font-size:75%'>The information below is extracted from the cluster well record.
					<BR>More information on the cluster well record (related to other wells in the cluster)</SPAN>
					<BR><A HREF='Well_Report.html?wellid=<%= renderResult.previousWellID %>'>is also available.</A><BR><BR>
				<% }%>
			<% } else {%>
				<I>Le présent tableau contient des renseignements du dossier original du puits d’eau ainsi que toutes les mises à jour suivantes. <BR>
				Le texte dans le tableau est dans la langue reçue.</I><BR><BR>
				<% 
					if (!renderResult.search_WELL_ID) {
				%>
					<BR><BR>Ce puits fait partie d’un groupe de puits. <BR><SPAN STYLE=\"font-size:75%\">Les données ci-dessous sont extraites du registre du groupe de puits.
					<BR> D’autres renseignements sur le dossier du groupe de puits (relatifs à d’autres puits dans le groupe)</SPAN>
					<BR><A HREF='Well_Report.html?wellid=<%= renderResult.previousWellID %>'> sont également disponibles.</A><BR><BR>
				<% }%>					
			<% }%>			
		</CENTER>
   
		<TABLE class="datatable" border="1">
			<TBODY>
				<TR><TD bgColor=#dddddd colSpan=4><STRONG><%= chooseLang("Well Location", "Emplacement du puits") %></STRONG></TD></TR>
				<TR>
					<TD width="35%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Address of Well Location", "Adresse de l'emplacement du puits") %></I></SPAN></TD>
					<TD width="35%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Township", "Canton") %></I></SPAN></TD>
					<TD width="10%"><SPAN STYLE="font-size:75%"><I>Lot</I></SPAN></TD>
					<TD width="20%"><SPAN STYLE="font-size:75%"><I>Concession</I></SPAN></TD>
				</TR>
				<TR>
					<TD><%= renderResult.STREET %></TD>
					<TD><%= renderResult.MOE_MUNICIPALITY_DESCR %></TD>
					<TD><%= renderResult.LOT %></TD>
					<TD><%= renderResult.CON %></TD>
				</TR>
				<TR>
					<TD width="40%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("County/District/Municipality", "Comté, district, municipalité") %></I></SPAN></TD>
					<TD width="30%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("City/Town/Village", "Ville, village") %></I></SPAN></TD>
					<TD width="10%"><SPAN STYLE="font-size:75%"><I>Province</I></SPAN></TD>
					<TD width="20%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Postal Code", "Code Postal") %></I></SPAN></TD>
				</TR>
				<TR>
					<TD><%= renderResult.MOE_COUNTY_DESCR %></TD>
					<TD><%= renderResult.CITY %></TD>
					<TD>ON</TD>
					<TD>n/a</TD>
				</TR>
				<TR>
					<TD width="40%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("UTM Coordinates", "Coordonnées UTM") %></I></SPAN></TD>
					<TD width="30%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Municipal Plan and Sublot Number", "N<SUP>o</SUP> du plan municipal et du sous-lot") %></I></SPAN></TD>
					<TD colSpan=2><SPAN STYLE="font-size:75%"><I><%= chooseLang("Other", "Autre") %></I></SPAN></TD>
				</TR>
				<TR>
				  <TD><SPAN STYLE="font-size:75%">NAD83 &mdash; Zone <%= renderResult.UTMZONE %><BR><%= chooseLang("Easting", "Abscisse") %>: <%= renderResult.EAST83 %><BR><%= chooseLang("Northing", "Ordonnée") %>: <%= renderResult.NORTH83 %></SPAN></TD>
				  <TD>&nbsp;</TD>
				  <TD colSpan=2>&nbsp;</TD>
				</TR>
			</TBODY>
		</TABLE>
		<TABLE class="datatable" border="1">
			<TBODY>
				<TR><TD bgColor=#dddddd colSpan=6><STRONG><%= chooseLang("Overburden and Bedrock Materials Interval", "Mort-terrain et matériaux de la roche-mère") %></STRONG></TD></TR>
				<TR>
					<TD width="15%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("General Colour", "Couleur générale") %></I></SPAN></TD>
					<TD width="20%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Most Common Material", "Matériau le plus commun") %></I></SPAN></TD>
					<TD width="15%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Other Materials", "Autre matériaux") %></I></SPAN></TD>
					<TD width="30%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("General Description", "Description générale") %></I></SPAN></TD>
					<TD width="10%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Depth", "Profondeur") %><BR><%= chooseLang("From", "De") %></I></SPAN></TD>
					<TD width="10%"><SPAN STYLE="font-size:75%"><I>&nbsp;<BR><%= chooseLang("To", "À") %></I></SPAN></TD>
				</TR>
				<%
					var rows = createRenderItems(renderResult.GEO);
					_.each(rows,function(items,key,list){				
				%>		
					<TR><TD><%= items[0] %></TD><TD><%= items[1] %></TD><TD><%= items[2] %></TD><TD><%= items[3] %></TD><TD><%= items[4] %></TD><TD><%= items[5] %></TD></TR>
				<%
					});
				%>
			</TBODY>
		</TABLE>
		<TABLE style="border:0px solid black;width:700px;border:border-collapse:collapse;">
		<TR>
			<TD style="vertical-align:top;">  <!--Left side of table-->
				<TABLE class="datatable" border="1" style="width:350px;"> 
					<TBODY>
						<TR><TD bgColor=#dddddd colSpan=4><STRONG><%= chooseLang("Annular Space/Abandonment Sealing Record", "Espace annulaire") %></STRONG></TD></TR>
						<TR>
							<TD width="15%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Depth", "Profondeur") %> <BR><%= chooseLang("From", "De") %></I></SPAN></TD>
							<TD width="15%"><SPAN STYLE="font-size:75%"><I><BR><%= chooseLang("To", "À") %></I></SPAN></TD>
							<TD width="50%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Type of Sealant Used<BR>(Material and Type)", "Matériau d'étanchéité<BR>(Genre de matériau)") %></I></SPAN></TD>
							<TD width="20%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Volume<BR>Placed", "Volume") %></I></SPAN></TD>
						</TR>
						<%
							var rows = createRenderItems(renderResult.PLUG);
							_.each(rows,function(items,key,list){
						%>		
							<TR><TD><%= items[1] %></TD><TD><%= items[2] %></TD><TD><%= items[0] %></TD><TD>&nbsp;</TD></TR>
						<%
							});
						%>
					</TBODY>
				</TABLE>
				<TABLE class="datatable" border="1" style="width:350px;">
					<TBODY>
						<TR>
							<TD width="55%" bgColor=#dddddd><STRONG><%= chooseLang("Method of Construction", "Méthode de construction") %></STRONG></TD>
							<TD width="45%" bgColor=#dddddd><STRONG><%= chooseLang("Well Use", "Utilisation du puits") %></STRONG></TD>
						</TR>
						<%
							var rows = createRenderItems(renderResult.CM);
							var items = rows[0];
						%>	
						<TR>
							<TD><%= items[0] %></TD>
							<TD><%= renderResult.USE1 %></TD>
						</TR>
						<TR>
							<TD><%= items[1] %></TD>
							<TD><%= renderResult.USE2 %></TD>
						</TR>
						<TR>
							<TD>&nbsp;</TD>
							<TD>&nbsp;</TD>
						</TR>
					</TBODY>
				</TABLE>
				<TABLE class="datatable" border="1" style="width:350px;">
					<TBODY>
						<TR><TD bgColor=#dddddd><STRONG><%= chooseLang("Status of Well", "Finalité du puits") %></STRONG></TD></TR>
						<TR><TD><%= renderResult.FINAL_STATUS_DESCR %></TD></TR>
					</TBODY>
				</TABLE>
				<TABLE class="datatable" border="1" style="width:350px;">
					<TBODY>
						<TR><TD bgColor=#dddddd colSpan=4><STRONG><%= chooseLang("Construction Record - Casing", "Construction - Tubage") %></STRONG></TD></TR>
						<TR>
							<TD width="20%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Inside<BR>Diameter", "Diamètre<BR>intérieur") %></I></SPAN></TD>
							<TD width="40%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Open Hole OR material", "Ouverture du trou OU matériau") %></I></SPAN></TD>
							<TD width="20%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Depth", "Profondeur") %><BR><%= chooseLang("From", "De") %><BR></I></SPAN></TD>
							<TD width="20%"><SPAN STYLE="font-size:75%"><I><BR><%= chooseLang("To", "À") %><BR></I></SPAN></TD>
						</TR>
						<%
							var rows = createRenderItems(renderResult.CAS);
							_.each(rows,function(items,key,list){
						%>
						
							<TR><TD><%= items[1] %></TD><TD><%= items[0] %></TD><TD><%= items[2] %></TD><TD><%= items[3] %></TD></TR>
						<%
							});
							_.each(_.range(2 - rows.length),function(index,key,list){
						%>										
							<TR><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
						<%
							});
						%>
						<TR><TD bgColor=#dddddd colSpan=4><STRONG><%= chooseLang("Construction Record - Screen", "Construction - Crépine") %></STRONG></TD></TR>
						<TR>
							<TD width="20%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Outside<BR>Diameter", "Diamètre<BR>extérieur") %></I></SPAN></TD>
							<TD width="40%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Material", "Matériau") %></I></SPAN>X</TD>
							<TD width="20%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Depth", "Profondeur") %><BR><%= chooseLang("From", "De") %><BR></I></SPAN></TD>
							<TD width="20%"><SPAN STYLE="font-size:75%"><I><BR><%= chooseLang("To", "À") %><BR></I></SPAN></TD>
						</TR>
						<%
							var rows = createRenderItems(renderResult.SCRN);
							_.each(rows,function(items,key,list){
						%>
							<TR><TD><%= items[0] %></TD><TD><%= items[1] %></TD><TD><%= items[2] %></TD><TD><%= items[3] %></TD></TR>
						<%
							});
							_.each(_.range(2 - rows.length),function(index,key,list){
						%>										
							<TR><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
						<%
							});
						%>
					</TBODY>
				</TABLE>
				<TABLE class="datatable" border="1" style="width:350px;">
					<TBODY>
						<TR><TD bgColor=#dddddd colSpan=2><STRONG><%= chooseLang("Well Contractor and Well Technician Information", "Renseignements sur l'entrepreneur et le technicien en contruction de puits") %></STRONG></TD></TR>
						<TR>
							<TD width="70%"><SPAN STYLE="font-size:75%"><I><%= chooseLang("Well Contractor's Licence Number", "N<SUP>o</SUP> de licence de l'entrepreneur en contruction de puits") %></I></SPAN></TD>
							<TD><CENTER><%= renderResult.CONTRACTOR %></CENTER></TD>
						</TR>
					</TBODY>
				</TABLE>
			</TD>
			<TD> <!--Right side of table-->
				<TABLE class="datatable" style="width:350px;" style="border-collapse:collapse;">
					<TBODY>
						<TR><TD bgColor=#dddddd colSpan=4><STRONG><%= chooseLang("Results of Well Yield Testing", "Résultats de l'essai du puits") %></STRONG></TD></TR>
						<TR>
							<TD>
								<TABLE align=left border=1>
									<TBODY>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("After test of well yield, water was", "Après l'essai du puits, l'eau était:") %><BR></I></SPAN><CENTER><%= renderResult.PT[7] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("If pumping discontinued, give reason", "Si le pompage est abandonné, donnez-en les raisons: ") %><BR></I></SPAN><CENTER><%= renderResult.PT[11] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Pump intake set at", "Niveau de pompage fixé à:") %><BR></I></SPAN><CENTER><%= renderResult.PT[2] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Pumping Rate", "Débit de la pompe:") %></I><BR></SPAN><CENTER><%= renderResult.PT[4] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Duration of Pumping", "Durée du pompage") %></I><BR></SPAN><CENTER><%= renderResult.PT[10][0] %> h:<%= renderResult.PT[10][1] %> m</CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Final water level", "Niveau d'eau à la fin du pompage") %><BR></I></SPAN><CENTER><%= renderResult.PT[1] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("If flowing give rate", "En cas d'écoulement, indiquez le taux") %><BR></I></SPAN><CENTER><%= renderResult.PT[5] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Recommended pump depth", "Profondeur recommandée de la pompe") %><BR></I></SPAN><CENTER><%= renderResult.PT[3] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Recommended pump rate", "Debit recommandée de la pompe") %><BR></I></SPAN><CENTER><%= renderResult.PT[6] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Well Production", "Production du puits") %><BR></I></SPAN><CENTER><%= renderResult.PT[8] %></CENTER></TD></TR>
										<TR><TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Disinfected?", "Désinfecté?") %><BR></I></SPAN><CENTER><%= renderResult.DISINFECTED %></CENTER></TD></TR>
									</TBODY>
								</TABLE>
							</TD>
							<TD>
								<TABLE align=right border=1>
									<TBODY>
										<TR>
											<TD colSpan=2 height=25><SPAN STYLE="font-size:75%"><I><%= chooseLang("Draw Down", "Cône en dépression") %></I></SPAN></TD>
											<TD colSpan=2><SPAN STYLE="font-size:75%"><I><%= chooseLang("Recovery", "Rétablissement") %></I></SPAN></TD>
										</TR>
										<TR>
											<TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Time", "Temps") %><BR>(min)</I></SPAN></TD>
											<TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Water level", "Niveau d'eau") %> </I></SPAN><BR></TD>
											<TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Time", "Temps") %><BR>(min)</I></SPAN></TD>
											<TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Water level", "Niveau d'eau ") %><BR></I></SPAN></TD>
										</TR>
										<TR><TD height=26><%= chooseLang("SWL", "NS") %></TD><TD><%= renderResult.PT[0] + ((renderResult.PT[9] === "Y") ? " FLW" : "") %></TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
										<%
											var PTDkeys = _.keys(renderResult.PTD);
											_.each(PTDkeys,function(PTDkey,key,list){
										%>										
											<TR><TD height=26><%= PTDkey %></TD><TD><%= renderResult.PTD[PTDkey][0] %></TD><TD><%= PTDkey %></TD><TD><%= renderResult.PTD[PTDkey][1] %></TD></TR>
										<%
											});
										%>
									</TBODY>
								</TABLE>
						<TR>
							<TD style="vertical-align:top;">
								<TABLE align=left border=1>
									<TBODY>
										<TR><TD bgColor=#dddddd colSpan=2><STRONG><%= chooseLang("Water Details", "Renseignements sur l'eau") %></STRONG></TD></TR>
										<TR>
											<TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Water Found at Depth", "Eau à") %></I></SPAN></TD>
											<TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Kind", "Type d'eau") %></I></SPAN></TD>
										</TR>
										<%
											var rows = createRenderItems(renderResult.WAT);
											_.each(rows,function(items,key,list){
										%>
											<TR><TD><%= items[1] %></TD><TD><%= items[0] %></TD></TR>
										<%
											});
											_.each(_.range(3 - rows.length),function(index,key,list){
										%>										
											<TR><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
										<%
											});
										%>
									</TBODY>
								</TABLE>
							</TD>
							<TD style="vertical-align:top;">
								<TABLE align=right border=1>
									<TBODY>
										<TR><TD colSpan=3><STRONG><%= chooseLang("Hole Diameter", "Diamètre du trou") %></STRONG></TD></TR>
										<TR>
											<TD colSpan=2><SPAN STYLE="font-size:75%"><I>&nbsp; <%= chooseLang("Depth", "Profondeur") %><BR><%= chooseLang("From", "De") %> &nbsp; &nbsp; <%= chooseLang("To", "À") %></I></SPAN></TD>
											<TD><SPAN STYLE="font-size:75%"><I><%= chooseLang("Diameter", "Diamètre") %></I></SPAN></TD>
										</TR>
										<%
											var rows = createRenderItems(renderResult.HOLE);
											_.each(rows,function(items,key,list){
										%>		
											<TR><TD><%= items[1] %></TD><TD><%= items[2] %></TD><TD><%= items[0] %></TD></TR>
										<%
											});
											_.each(_.range(3 - rows.length),function(index,key,list){
										%>										
											<TR><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
										<%
											});
										%>										
									</TBODY>
								</TABLE>
							</TD>
						</TR>
						<TR><TD COLSPAN="2"><STRONG><%= chooseLang("Audit Number", "N<SUP>o</SUP> de vérification") %>:</STRONG> <%= renderResult.AUDIT_NO %></TD></TR>
						<TR><TD COLSPAN="2"><STRONG><%= chooseLang("Date Well Completed", "Date de finition") %>:</STRONG> <%= renderResult.WELL_COMPLETED_DATE %></TD></TR>
						<TR><TD COLSPAN="2"><STRONG><%= chooseLang("Date Well Record Received by MOE", "Date de réception du registre de puits<br>par le MEO") %>:</STRONG> <%= renderResult.RECEIVED_DATE %></TD></TR>
					</TBODY>
				</TABLE>
				</TD>
			</TR>
		</TABLE>			
	</script>    
	<!--MOE Geomatics Center -->
	<meta content="MSHTML 6.00.2900.3698" name="GENERATOR" />

</head>

<body id="home">

<div id="wrapper">

  <div id="header"> 
  
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_header_fr.js"></script>
    
  </div>

  <a name="top" id="top"></a>
  
  <div id="right_column">

    <div class="row">
      
 <!--     <h1>Production Example</h1> -->
      
    </div>

	<a name="content" id="content"></a>
    
    <!-- ENTER YOUR CONTENT HERE - BEGIN -->
	<div id="target"></div>
    <!-- ENTER YOUR CONTENT HERE - END -->    

  </div>

  <div id="left_column">
 
 	<div class="leftnav">
      <div class="photocap nav_top mycolour">&nbsp;</div>
      <div class="mycolour"><h2 class="header"><a style="display:block;" href="javascript:void(0)" onclick="showHide('smenu1');return false;">Puits<img src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/arrow_down.gif" width="9" height="9" alt="" title="Open the explore menu" id="smenu1_arrow" /></a></h2></div>
      <ul class="menu clear" id="smenu1" style="display:block;">
        <li><a href="http://www.ene.gov.on.ca/environment/fr/subject/wells/index.htm">Puits</a></li>
        <li><a href="http://www.ene.gov.on.ca/environment/fr/subject/wells/STDPROD_078970.html">Registres de puits</a></li>
        <li><a href="http://www.downloads.ene.gov.on.ca/files/wells/FR/WaterWell_Accessible.htm">Version Accessible</a></li>
	</div>
    
    <div id="second_nav"></div>
	
	<script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_secondary_fr.js"></script>
 
  </div>

  <div id="footer">
    
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_footer_fr.js"></script>
    
  </div>

</div>
	<!--MOE Geomatics Center -->
	<script type="text/javascript" src="../Well_Report.js"></script>
	<!--MOE Geomatics Center -->
</body>

</html>
